.nav {
    background: slategrey;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 30px;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    height: 30px;
}

.home {
    height: 735px;
    background-color: #55c0ec;
}

.about {}

.features {}

.add {}

.footer {}